<!DOCTYPE html>
<html>
  <head>
		<title>All the comments</title>
    <meta charset="utf-8" />
    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <table class="table-fixed w-full">
        <thead>
          <th class="px-4 py-2 w-2/12">Created at</th>
          <th class="px-4 py-2 w-2/12">Noteable</th>
          <th class="px-4 py-2 w-2/12">Noteable Title</th>
          <th class="px-4 py-2 w-6/12">Comment</th>
        </thead>
        <tbody>
          {{#.}}
          <tr>
            <td class="border px-4 py-2">{{ note.created_at }}</td>
            <td class="border px-4 py-2">
							<div>
								Project: {{ project_id }}<br/>
								{{ note.noteable_type }} {{ note.noteable_iid }}<br/>
								Note: {{note.id}}<br/>
							</div>
						</td>
            <td class="border px-4 py-2">{{ target_title }}</td>
						<td class="border px-4 py-2"><pre class="overflow-x-auto">{{ note.body }}</pre></td>
          </tr>
          {{/.}}
        </tbody>
      </table>
    </div>
		<script src="./main.js"></script>
  </body>
</html>
